.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #070606;
}

.project-card {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.project-logo {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.project-info {
  text-align: center;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.project-skills {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.project-link-container {
  display: flex;
  justify-content: center;
}

.project-link {
  color: #f59e0b;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
