/* Base styles for Home component */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 40px;
  background-color: #1c1c1c;
  min-height: 90vh;
  width: 100%;
  transition: background-color 0.3s ease;
}

.home-container:hover {
  background-color: #111;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
}

/* Title Style */
.title {
  font-size: 1rem;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(90deg, #00bcd4, #0056b3);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Updated Description Style */
.description {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
  transition: color 0.3s ease-in-out;
  text-align: left;
  margin-bottom: 15px;
  font-style: italic;
}

/* Bio Style */
.bio {
  font-size: 0.85rem;
  color: #b3b3b3;
  line-height: 1.8;
  margin-top: 15px;
  text-align: left;
  transition: color 0.3s ease-in-out;
}

/* Social Icons Container */
.social-icons-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.connect {
  font-size: 1.275rem;
  color: #e0e0e0;
  transition: color 0.3s ease-in-out;
  text-align: left;
  margin-right: 20px;
}

.social-links {
  color: #e0e0e0;
  transition: color 0.3s ease;
}

.social-links:hover {
  color: #00bcd4;
}

/* Profile Image */
.profile-image {
  border-radius: 50%;
  width: 187px;
  height: 187px;
  object-fit: cover;
  border: 3px solid #808080;
  box-shadow: 0 0 15px rgba(215, 209, 209, 0.3);
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.0);
  border-color: #023436;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

/* Media Queries */

/* Small screens (max-width: 600px) */
@media (max-width: 600px) {
  .home-container {
    padding: 20px;
  }
  
  .home-content {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .description {
    font-size: 1rem;
    color: #fff;
  }
  
  .bio {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .connect {
    font-size: 1.1rem;
  }
  
  .social-icons-container {
    flex-direction: row;
    gap: 10px;
  }
  
  .profile-image {
    width: 170px;
    height: 170px;
    margin-top: 60px;
  }
}

/* Medium screens (min-width: 601px and max-width: 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  .home-container {
    padding: 30px;
  }
  
  .home-content {
    align-items: flex-start;
    width: 80%;
  }
  
  .title {
    font-size: 1.87rem;
  }
  
  .description {
    font-size: 1rem;
    color: #fff;
  }
  
  .bio {
    font-size: 1.02rem;
    margin-top: 12px;
  }
  
  .connect {
    font-size: 1.19rem;
  }
  
  .profile-image {
    width: 213px;
    height: 213px;
    margin-top: 30px;
  }
}

/* Large screens (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    gap: 10%;
  }
  
  .home-content {
    width: 60%;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .description {
    font-size: 1rem;
    color: #fff;
  }
  
  .bio {
    font-size: 1.105rem;
  }
  
  .profile-image {
    width: 297px;
    height: 314px;
  }
}

/* Extra large screens (min-width: 1200px) */
@media (min-width: 1200px) {
  .home-container {
    padding: 30px;
    gap: 30px;
    justify-content: center;
    align-self: center;
    flex-direction: row;
  }
  
  .home-content {
    width: 50%;
  }
  
  .title {
    font-size: 2.9rem;
    width: 100%;
  }
  
  .description {
    font-size: 1.2rem;
    font-style: italic;
  }
  
  .bio {
    font-size: 1.275rem;
    margin-top: 17px;
  }
  
  .connect {
    font-size: 1.36rem;
  }
  
  .profile-image {
    width: 340px;
    height: 357px;
  }
}
